[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
arrow = "*"
astroid = "*"
attrs = "*"
binaryornot = "*"
bleach = "*"
certifi = "*"
chardet = "*"
colorama = "*"
docutils = "*"
future = "*"
idna = "*"
importlib-metadata = "*"
isort = "*"
jinja2 = "*"
jinja2-time = "*"
keyring = "*"
lazy-object-proxy = "*"
markupsafe = "*"
mccabe = "*"
more-itertools = "*"
pkginfo = "*"
pluggy = "*"
pop = "*"
poyo = "*"
py = "*"
pygments = "*"
pylint = "*"
pyparsing = "*"
pytest = "*"
python-dateutil = "*"
readme-renderer = "*"
requests = "*"
requests-toolbelt = "*"
six = "*"
tqdm = "*"
twine = "*"
typed-ast = "*"
urllib3 = "*"
wcwidth = "*"
webencodings = "*"
whichcraft = "*"
wrapt = "*"
zipp = "*"
pipenv = "*"
secretstorage = "*"

[packages]
click = "*"
cookiecutter = "*"
pyyaml = "*"

[requires]
python_version = "3.8"
